body {
    background-image: url('../images/def-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.game-box {
    background-color: #ffffff;
    border: 3px solid #666666;
    padding: 20px;
    opacity: .8;
}

.char {
    float: left;
    height: 150px;
    width: 150px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #2fa339
}

.red {
    background-color: rgb(201, 15, 15);
}
.char img {
    height: 90px;
    width: 90px;
}

.char p {
    padding: 0;
    margin: 0;
}

.selected-char {
    float: left;
    height: 150px;
    width: 150px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #2fa339
}
.selected-char img {
    height: 90px;
    width: 90px;
}

.selected-char p {
    padding: 0;
    margin: 0;
}
#player {
    /* float: left; */
    height: 150px;
    width: 100%;
}

#enemy-select {
    /* float: left; */
    width: 100%;
}
#enemy {
    /* float: left; */
    height: 150px;
    width: 100%;
}

#dmgText1 {
    margin-bottom: 10px;
}