/* MAKE MEDIA QUERIES 
dress up the page
make text legible*/

@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: local('Audiowide Regular'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v7/l7gdbjpo0cum0ckerWCdlg_O.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Audiowide', cursive;
    background-image: url('../images/def-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2.4rem;
}

.game-box {
    background-color: #ffffff;
    border: 3px solid #666666;
    padding: 20px;
    opacity: .9;
}

.char {
    float: left;
    height: 150px;
    width: 150px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #2fa339;
}

.red {
    background-color: #c70000;
}

.char img {
    height: 90px;
    width: 90px;
}

.char p {
    padding: 0;
    margin: 0;
}

.selected-char {
    float: left;
    height: 150px;
    width: 150px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #2fa339;
}

.selected-char img {
    height: 90px;
    width: 90px;
}

.selected-char p {
    padding: 0;
    margin: 0;
}

#player {
    /* float: left; */
    height: 150px;
    width: 100%;
}

#enemy-select {
    /* float: left; */
    width: 100%;
}

#enemy {
    /* float: left; */
    height: 150px;
    width: 100%;
}

#dmgText1 {
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {

    .title {
        width: 100%;
    }

    .white-space {
        width: 0px;
    }
}